[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rhandsontable"]
	path = rhandsontable
	url = https://github.com/jrowen/rhandsontable
